<div class="container mt-3">
  <h1>My Profile</h1>

  <h3 class="my-3">Rentals</h3>
  <% @user.bookings_as_renter.each do |booking| %>
    <div class="card mb-3 p-2">
      <% brand_model = "#{booking.car.brand} #{booking.car.model}" %>
      <p><%= link_to brand_model, booking.car %></p>
      <p>From <%= booking.start_date.strftime("%d/%b/%Y") %> to <%= booking.end_date.strftime("%d/%b/%Y") %> (<%= booking.duration %> days)</p>
      <p>Total Cost: $<%= booking.total_cost %></p>
      <div class="d-flex">
        <%= link_to 'Edit this booking', edit_booking_path(booking), class: 'btn btn-primary' %>
        <%= link_to 'Delete this booking', booking_path(booking), class: 'btn btn-danger ms-3 rounded-3 text-white', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
