<div class="container mt-3">
  <h1 class="mb-5">My Profile</h1>

  <h3 class="my-3">Rentals</h3>
  <% active_bookings = @user.bookings_as_renter.select { |booking| booking.status != 'archived' } %>
  <% active_bookings.each do |booking| %>
    <div class="card mb-3 p-2">
      <% car = booking.car %>
      <% brand_model = "#{car.brand} #{car.model}" %>
      <p><%= link_to brand_model, car %> - <%= car.owner.first_name %> <%= car.owner.last_name %></p>
      <p>From <%= booking.start_date.strftime("%d/%b/%Y") %> to <%= booking.end_date.strftime("%d/%b/%Y") %> (<%= booking.duration %> days)</p>
      <p>Total Cost: $<%= booking.total_cost %></p>
      <div class="d-flex">
        <span class = '<%= rental_status(booking.status)%> rounded-3 mx-3 text-white'><%= booking.status.capitalize %></span>
        <%= link_to 'Edit this booking', edit_booking_path(booking), class: 'btn btn-primary rounded-3 text-white' %>
        <%= link_to 'Delete this booking', booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger ms-3 rounded-3 text-white' %>
      </div>
    </div>
  <% end %>
  <h3 class="my-3"> My Cars</h3>
  <% @user.cars_as_owner.each do |car| %>
  <div class="card mb-3 p-2">
    <% brand_model = "#{car.brand} #{car.model}" %>
    <p><%= link_to brand_model, car %></p>
    <p>Daily Price: $<%= car.daily_price/100 %></p>
    <p>Address: <%= car.address %></p>
    <% car_active_bookings = car.bookings.select { |booking| booking.status == 'active' } %>
    <p>Active Bookings : <%= car_active_bookings.count %></p>
    <div class="d-flex">
      <%= link_to 'Edit this car', edit_car_path(car), class: 'btn btn-primary' %>
      <%= link_to 'Delete this car', car_path(car), class: 'btn btn-danger ms-3 rounded-3 text-white', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  <h3 class="my-3"> My Cars' Bookings</h3>
    <% @user.cars_as_owner.each do |car| %>
  <div class="card mb-3 p-2">
    <% brand_model = "#{car.brand} #{car.model}" %>
    <div class="card">
      <h4>Bookings for <%= link_to brand_model, car %></h4>
    </div>

    <div class="card">

      <h6>Active Bookings</h6>

      <div class="card">
        <% active_bookings = car.bookings.select { |booking| booking.status == 'active' } %>
        <% active_bookings.each do |booking| %>
          <div class="card">
            <p><%= booking.renter.first_name %> <%= booking.renter.last_name %></p>
            <p>$ <%= booking.total_cost %></p>
            <p>From <%= booking.start_date.strftime("%d/%b/%Y") %> to <%= booking.end_date.strftime("%d/%b/%Y") %> (<%= booking.duration %> days)</p>
          </div>
        <% end %>
      </div>


      <h6>Pending Bookings</h6>

      <div class="card">
        <% pending_bookings = car.bookings.select { |booking| booking.status == 'pending' } %>
        <% pending_bookings.each do |booking| %>
          <div class="card">
            <p><%= booking.renter.first_name %> <%= booking.renter.last_name %></p>
            <p>$ <%= booking.total_cost %></p>
            <p>From <%= booking.start_date.strftime("%d/%b/%Y") %> to <%= booking.end_date.strftime("%d/%b/%Y") %> (<%= booking.duration %> days)</p>
            <div class="d-flex">
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'active'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>

              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'archived'} %>
                <%= f.submit 'Reject', class: 'btn btn-light' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <% end %>
</div>
