<% cars.each do |car| %>
  <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
    <div class="card h-100">
      <div class="card-img-top placeholder-image" alt="<%= car.model %>">
        Image Placeholder
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= "#{car.year} #{car.brand} #{car.model}" %></h5>
        <p class="card-text"><strong>Location:</strong> <%= car.address %></p>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <span class="btn btn-success text-white fw-bold"><%= number_to_currency car.daily_price/100, precision: 0 %> per day</span>
        <%= link_to 'Book Now!', car, class: 'btn btn-primary fw-bold' %>
      </div>
      <div class="card-footer text-muted">
        <small>Owner: <%= car.owner.first_name %> <%= car.owner.last_name %></small>
      </div>
    </div>
  </div>
<% end %>
