<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <form class="d-flex mb-4 position-relative" data-controller="search" data-search-target="form">
        <input class="form-control me-2" type="search" placeholder="Search for cars" aria-label="Search" data-search-target="input">
        <div class="list-group position-absolute w-100" data-search-target="results" style="top: 100%; z-index: 1000;"></div>
      </form>
    </div>
    <div class="col-lg-7 col-md-12 mb-4">
      <div class="row" data-search-target="results-container">
        <% @cars.each do |car| %>
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
              <div class="card-img-top placeholder-image" alt="<%= car.model %>">
                Image Placeholder
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= "#{car.year} #{car.brand} #{car.model}" %></h5>
                <p class="card-text"><strong>Location:</strong> <%= car.address %></p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <span class="btn btn-success">$<%= car.daily_price / 100 %> per day</span>
                <%= link_to 'Book Now!', new_car_booking_path(car), class: 'btn btn-primary' %>
              </div>
              <div class="card-footer text-muted">
                <small>Owner: <%= car.owner.first_name %> <%= car.owner.last_name %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 col-md-12">
      <div class="sticky-container">
        <div id="map" class="sticky-map" style="width: 100%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <%= link_to 'List your car for rent!', new_car_path, class: 'btn btn-primary mt-3 w-100' %>
      </div>
    </div>
  </div>
</div>
