<div class="row">
  <div class="col-3">
    <ul>
      <% @cars.each do |car| %>
        <%= cl_image_tag car.photos[0].key, height: 310, width: 600, crop: :fill, class: "ms-3"  %>
        <li>
          <%=link_to car.model, car_path(car) %>
        </li>
      <% end %>
      <%= link_to 'List your car for rent!', new_car_path, class: 'btn btn-primary mt-3' %>
    </ul>
  </div>
  <div class="col-9">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
